* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    color: black;
    font-family: "Montserrat", sans-serif;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

form input {
    width: 400px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}

form button {
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}